# =====================
# Laravel / PHP
# =====================
/vendor/
/storage/*.key
/storage/pail
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs
.env
.env.backup
.env.production
Homestead.yaml
Homestead.json
.phpunit.result.cache
.phpactor.json
.phpunit.cache
/auth.json

# =====================
# Node / Frontend
# =====================
/node_modules/
/public/build/
/public/hot/
/public/storage/

# =====================
# IDE / Editors
# =====================
.idea/
/.vscode/
/.zed/
/.nova/
/.fleet/

# =====================
# OS / System
# =====================
.DS_Store
Thumbs.db

# =====================
# Logs
# =====================
*.log
